version: '3.8'

services:
  deep-learning-gpu:
    build: .
    command: tail -f /dev/null
    working_dir: /app
    volumes:
      - .:/app
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all 
              capabilities: [gpu]
  